html
{
   font-size: 34px;
   color: #000 !important;
   font-family: Futura,sans-serif !important;
   background-color: #FFF;
   font-weight: 100;

}

h1 
{
	font-size: 2em;  font-weight:100;

}
h2
{
	font-size: 1.5em;  font-weight:100;
}
table {
	display: inline-table;
	box-sizing: border-box;
	font-size: 1em;
	font-style: normal;
	font-weight: 100;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 16px;
	width: 90%;
	text-align: left;
}
body, html{
    margin:0;
    padding:0;
}
body
{
	text-align:center;
}

a:link {
  color: #0000FB; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: #0000FB;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #0000FB;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #0000FB;
  background-color: transparent;
  text-decoration: underline;
}

.pic-div
{
	text-align: center;
	background-color: #000;
    width: 100%;

}

.sect
{
  text-align: left;
  background-color: #FFF;
  width:90%;
  display: inline-block;
}


.em-png {
    height: 1em;
    width: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

tr.table-subtitle td {
  color: #999999;
  padding-top: 12px; 
  padding-bottom:12px;
}

.bandpic {
  height:700px;
  max-height:35%;
  background-image: url("bandpic_mobile.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  overflow-x: hidden;
}



.eventvenue{display:none;}
.eventcity{display:none;}
.mobileonly{display:inline;}
.desktoponly{display:none;}